body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.general {
    z-index: 2!important;
}


.bg-gray {
    background-image: url("./src/main-bg.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter: grayscale(100%) blur(4px);
    opacity: 20%;
    z-index: 0!important;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: 0rem 1rem 1rem 0rem;
    position: fixed;
    z-index: 1;
}

.bg-color {
    background-image: url("./src/main-bg.jpg");
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.background {
    z-index: -1;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 100vh;
}



.background-gray {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    justify-items: center;
    
}

.logo {
    width: 4rem;
    margin: 1rem 1rem 1rem 2rem;
}

.advisory {
    width: 5rem;
    margin: 1rem 3rem 1rem 1rem;
}

.main-tracks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* .track{
    background-color: coral;
    width: 160px;
    height: 160px;
    mix-blend-mode: luminosity;
    border: 4px solid white;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
} */

.Ba {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .D {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .Bu {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .N {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .Ny {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

/* .Ba:hover{
    background-image: url("./src/barrio.gif");
    background-size: 100%;
    mix-blend-mode: normal;
} */
/* .track-2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.track-2:hover{
    background-image: url("./src/dimelo.gif");
    background-size: 100%;
    mix-blend-mode: normal;
}
.track-3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.track-3:hover{
    background-image: url("./src/buenostiempos.gif");
    background-size: 100%;
    mix-blend-mode: normal;
}
.track-4{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.track-4:hover{
    background-image: url("./src/notaloka.gif");
    background-size: 100%;
    mix-blend-mode: normal;
}
.track-5{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.track-5:hover{
    background-image: url("./src/newyork.gif");
    background-size: 100%;
    mix-blend-mode: normal;
} */

/* .number-producer {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    mix-blend-mode: normal;
}
.nickname {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin: 0;
    font-weight: 500;
}

.nickname, p {
    margin: 0;
}

.track-name{
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 300;
    font-size: 1.2rem;
    font-variant: normal;
} */

/* .DivBackground {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    
} 

.DivTrack {
    width: 600px;
    margin: 20vh auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
    
} */

.main-track {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    border: 9px solid white;
    background: rgba(0, 0, 0, 0.8);
    
}

/* .show {
    pointer-events: auto;
    opacity: 1;
    z-index: 5;
} */

.icon-close{
    justify-self: end;
    margin: 1rem 1rem 0 0;
    fill: #fff;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.icon-close:hover{
    fill: coral;
}

/* .artists-track {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6,1fr);
    width: 600px;
    margin: 3rem 0 3rem 0;
    justify-self: center;
    color: #fff;
} */

/* .artistselected{
    background: rgba(0, 0, 0, 0.8);
    background-image: url("./src/artistas/myke.jpg")!important;
    background-size: 100%;
    color: coral;
    background-blend-mode:overlay;
} */

/* .artists-nickname-check, .check-icon {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
} */


/* .indication {
    color: white;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    justify-self: center;
    font-size: 1.8rem;
    width: 60%;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
} */

/* .play-zone {
    display: flex;
    grid-column: 1/2;
    grid-row: 4 / 4;
    margin: 0 3rem 3rem 3rem;
    color: #fff;
    display: block;
    text-align: center;
} */
/* .song-title{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.song-artists {
    font-weight: 300;
}

.btn-play {
    border: 2px solid white ;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    fill: #fff;
    color: #fff;
    cursor: pointer;
}

.btn-play:hover{
    border: 2px solid  rgb(204, 99, 60) ;
    background-color: coral;
    fill: #000!important;
}

.icon-play{
    width: 30px;
    margin: 0 .5rem 0 0;
}

.escuchar {
    align-self: center;
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
}

.escuchar:hover{
    color: #000;
} */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: black!important;
}

.fp-controlArrow.fp-next {
    right: 250px!important;
    
}

.fp-controlArrow.fp-prev {
    left: 250px!important;
    
}


component-merch{
    display: flex;
    justify-content: center;
}

.main-merch {
    border: 10px solid white;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3,1fr);
    color: white;
    width: 700px;
}

.products {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 2.5rem 0 2.5rem;
}

.merch-item {
    border: 10px solid white;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.merch-title {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    height: 3rem;
}

.merch-title-item {
    display: flex;
    justify-content: space-between;
    
    font-size: 1.5rem;
} 

.merch-img {
    height: 300px;
}

.merch-name{
    font-size: .9rem;
    text-align: center;
}

.main-featuring {
    border: 10px solid white;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3,1fr);
    color: white;
}

.featuring-title{
    display: flex;
    justify-content: space-between;
    margin:0rem 1rem 1rem 1rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-weight: 400!important;
}

.producers {
    display: flex;
    align-items: center;
    justify-content: center; 
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
}

.producers,h3 {
    margin: 1rem;
    font-weight: 300;
    text-align: center;
}

 .artists, .tours {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 2.5rem 0 2.5rem ;
}



/*
.artist-1,.artist-2,.artist-3,.artist-4,.artist-5,.artist-6,.artist-7,.artist-8,.artist-9,.artist-10,.artist-11,.artist-12,.artist-13,.artist-14,.artist-15,.artist-16,.artist-17,.artist-18 {
    width: 90px;
    height: 90px;
    border: 2px solid white;
    cursor: pointer;
    background-image: none;
}

.artist-1:hover{
    background-image: url("./src/artistas/myke.jpg");
    background-size: 100%;
}
.artist-2:hover{
    background-image: url("./src/artistas/balvin.jpg");
    background-size: 100%;
}
.artist-3:hover{
    background-image: url("./src/artistas/wisin.jpg");
    background-size: 100%;
}
.artist-4:hover{
    background-image: url("./src/artistas/yandel.jpg");
    background-size: 100%;
}
.artist-5:hover{
    background-image: url("./src/artistas/daddy.jpg");
    background-size: 100%;
}
.artist-6:hover{
    background-image: url("./src/artistas/lunay.jpg");
    background-size: 100%;
}
.artist-7:hover{
    background-image: url("./src/artistas/mariah.jpg");
    background-size: 100%;
}
.artist-8:hover{
    background-image: url("./src/artistas/farina.jpg");
    background-size: 100%;
}
.artist-9:hover{
    background-image: url("./src/artistas/mikywoodz.jpg");
    background-size: 100%;
}
.artist-10:hover{
    background-image: url("./src/artistas/jhay.jpg");
    background-size: 100%;
}
.artist-11:hover{
    background-image: url("./src/artistas/becerra.jpg");
    background-size: 100%;
}
.artist-12:hover{
    background-image: url("./src/artistas/cazzu.jpg");
    background-size: 100%;
}
.artist-13:hover{
    background-image: url("./src/artistas/randy.jpg");
    background-size: 100%;
}
.artist-14:hover{
    background-image: url("./src/artistas/jowell.jpg");
    background-size: 100%;
}
.artist-15:hover{
    background-image: url("./src/artistas/arca.jpg");
    background-size: 100%;
}
.artist-16:hover{
    background-image: url("./src/artistas/rauw.jpg");
    background-size: 100%;
}
.artist-17:hover{
    background-image: url("./src/artistas/toki.jpg");
    background-size: 100%;
}
.artist-18:hover{
    background-image: url("./src/artistas/eladio.jpg");
    background-size: 100%;
} */

.logo-normal:hover {
    cursor: pointer;
    /* transition: box-shadow 1s, top 1s, left 1s;
    position: relative;
    top: -40px;
    left: 40px; */
}

.logo-hover {
    visibility: hidden;
}

.logo-hover:hover {
    visibility: visible;
}


/* .number-tracks{
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
    margin: .3rem .3rem 0rem .3rem;
    font-weight: 300;
} */

/* .artists-nickname {
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
} */

/* .artist-name{
    font-size: .7rem;
    display: flex;
    justify-content: center;
    margin-bottom: .3rem;
    font-weight: 300;
} */

.main-featuring-tour {
    border: 10px solid white;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3,1fr);
    color: white;
}


.main-soicalmedia{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 0 2.5rem 0 2.5rem;
    
}
/* 
.instagram,.facebook,.twitter,.youtube,.spotify,.applemusic,.deezer,.tidal{
    width: 90px;
    height: 90px;
    border: 2px solid white;
    cursor: pointer;
    background-image: none;
    color: white;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.socialmedia-nickname{
    font-size: 2.8rem;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
}

.socialmedia-name{
    font-size: .7rem;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    font-weight: 300;
}

.instagram:hover{
    background: rgb(252,176,69);
    background: linear-gradient(20deg, rgba(252,176,69,1) 9%, rgba(253,29,29,1) 44%, rgba(131,58,180,1) 80%);
    background-size: 100%;
}
.facebook:hover{
    background: #3508fa;
    background-size: 100%;
}
.twitter:hover{
    background: #17ccf9;
    background-size: 100%;
}
.youtube:hover{
    background: #f91717;
    background-size: 100%;
}
.spotify:hover{
    background: #00b816;
    background-size: 100%;
}
.applemusic:hover{
    background: rgb(250,36,61);
background: linear-gradient(0deg, rgba(250,36,61,1) 0%, rgba(251,91,115,1) 100%);
    background-size: 100%;
}
.deezer:hover{
    background: rgb(252,176,69);
    background: linear-gradient(60deg, rgba(252,176,69,1) 13%, rgba(253,29,29,1) 34%, rgba(85,23,143,1) 58%, rgba(13,179,15,1) 88%);
    background-size: 100%;
}
.tidal:hover{
    background: #000;
    background-size: 100%;
} */

.rights {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    
    margin-bottom: 3rem;
    color: white;

    align-self: flex-end;
    justify-content: center;
    font-size: .8rem;
    text-align: center;
}

@media (max-width: 472px) {



    .artist-1 {
        width: 80px!important;
        height: 80px!important;
    }

    .featuring-title{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

}

@media (max-width: 600px) {

    .main-soicalmedia{

        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);

        
    }

    .artists, .tours {
        grid-template-columns: repeat(3,1fr)!important;
        grid-template-rows: repeat(5,1fr)!important;
        align-content: center;
        align-items: center;
    }

    .main-merch{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        color: white;
        gap: 1rem;
    }

    .merch-title {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    
        height: 3rem;
    }
    
    .background-gray{
        overflow-y: scroll;
    }

    .producers,h3 {
        margin: 1rem;
        font-weight: 300;
        text-align: center;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    .fp-controlArrow.fp-next {
        right: 100px!important;
        
    }
    
    .fp-controlArrow.fp-prev {
        left: 100px!important;
        
    }


    .main-featuring-tour {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        overflow-y: scroll;
    }

    .main-featuring {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        overflow-y: scroll;
    }
   
    .artists, .tours {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 0.7rem;
        align-content: center;
        align-items: center;
    }
    .artist-1.artist-1,.artist-2,.artist-3,.artist-4,.artist-5,.artist-6,.artist-7,.artist-8,.artist-9,.artist-10,.artist-11,.artist-12,.artist-13,.artist-14,.artist-15,.artist-16,.artist-17,.artist-18{
        width: 115px;
        height: 115px;
        display: grid;
    }


    /* .DivBackground {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
    } */

    /* .DivTrack {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 500px!important;
        margin: 0;
        padding: 0;
    } */

    .main-track {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        border: 10px solid white;
        background: rgba(0, 0, 0, 0.9);
    }

    /* .artists-track {
        grid-column: 1 / 2;
        grid-row: 3 / 3;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(3,1fr);
        width: auto;
        margin: 2rem;
        justify-self: center;
        color: #fff;
    } */

    /* .play-zone {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 4 / 4;
        color: #fff;
        display: block;
        text-align: center;
        margin: 1rem 1rem 2rem 1rem;
    } */

    /* .indication {
        color: white;
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        justify-self: center;
        font-size: 2rem;
        width: auto;
        margin: 1rem;
        text-align: center;
        font-weight: 500;
    } */
    
}

@media (max-width: 860px) {

    .fp-controlArrow.fp-next {
        right: 65px!important;
        
    }
    
    .fp-controlArrow.fp-prev {
        left: 65px!important;
        
    }
   
    .main-tracks{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        margin-top: 7rem;
        margin-bottom: 3rem;
    }

    .Ba{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .D{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .Bu{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .N{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .Ny{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }


}